.Todo{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    border: 2px solid yellow;
    width: 30%;
    padding: 0px 20px;
}

.Todo .Todo-heading{
    font-size: 30px;
    /* text-decoration: line-through; */
}
.Todo .Checked-Todo-heading{
    text-decoration: line-through;
}